<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Details</title>
</head>
<body>
    <h1><%- movie_title %></h1>
    <div id = "movie_details">
        <table>
            <body>
                <div id = "movie_details">
                                <h2>Released in <%- movie_year %></h2>
                                <h4>Plot: <%- movie_synopsis %></h4>

                                <img src = <%- movie_poster%>>

                                <h4>IMDB Rating: <%- star_rating %></h4>

                </div>

                <div id = "user_reviews">
                    <h3>See what others are saying about <%- movie_title %></h3>
                        <%- movie_reviews %>
                </div>
                <h2>Submit your own review?</h2>
                <button type="button" id="writeReview" onclick="Redirect('/review/<%- imdbID %>/<%- movie_title %>')">Write a Review</button>

</body>

<script>
    function Redirect(page) {
        location.href = page;
    }
</script>
</html>